<div class="container" id="task-container new-task-container">
    <form action="/add-task" method="post" class="d-flex gap-3 align-items-center mx-auto py-3 bg-white task-container rounded-4 px-3 ">
        
        <button type="submit" class="new-task-btn d-flex justify-content-start align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="30"  fill="#FFC436" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
        </button>
        
        <input type="text" autocomplete="off" name="newTask" placeholder="Your super task" class="add-task-label">
        
    </form>
</div>