<div class="container">
    <div class="d-flex gap-3 mx-auto py-3 my-3 bg-white task-container rounded-4 px-3">
        <input class="form-check-input bg-primary task-checkbox" type="checkbox" value="">
        <label class="form-check-label" for="flexCheckDefault">
            <%= taskText %>
        </label>
    </div>
</div>