
#quote {
    font-family: 'Borel', cursive;
    width: 100%;
    text-align: left;
    font-style: italic;
    opacity: .8;
}

#author {
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    opacity: .8;
}

btns-hover:hover {
    color: #0A77FC;
}

body {
    background-color: #40F8FF;
    min-height: 100vh;
}
#FFC43

.date-container {
    width: 85%;
}

.task-container {
    width: 87%;
}

#new-task-container {
    width: 87%;
}

.shadow {
    filter: drop-shadow(10px 8px .2rem rgb(151, 217, 236));
}

.task-checkbox {
    width: 16px;
    height: 16px;
    min-width: 18px;
}

.margin-task-bottom {
    margin-bottom: 6rem;
}

footer {
    position: sticky;
    top: 100%;
}

.footer-style {
    min-height: 100px;
    background-color: #2f99d2;
}

.footer-text {
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Handjet', cursive; */
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem;
    font-weight: 500;
}

.link-color {
    color: cyan;
}

a:hover {
    color: rgb(101, 101, 207);
}

.add-task-label {
    opacity: 0.5;
    border: 0;
    max-width: 80%;
    min-height: 100%;
    background-color: white;
}

.add-task-label:focus {
    outline: none;
    border: none;  /* Remove the border */
    box-shadow: inset 0 -3px 0 0 #81631b;
}

.app-title {
    font-family: 'Barriecito', cursive;
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgb(90, 89, 89);
}

.app-sub-headline {
    font-size: small;
    font-weight: 200;
}

.new-task-btn {
    border: 0;
    background-color: white;
}

.setting-btn {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.btn-icon {
    color: #0A77FC;
}

.btn-icon:hover {
    color: #0e4b95;
}

.invisible-stroke {
    visibility: hidden;
}

.task-checkbox {
    background-color: #0d6efd;
}

#modal-container {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top:0;
    height: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

#modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.setting-modal {
    background-color: #40F8FF;
    width: 100%;
    padding: 10px;
    margin: 0px 20px;
    text-align: center;
}

.background-image-text {
    font-size: larger;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 5px;
    font-weight: 100;
}

.bg-images-container {
    background-color: white;
}

.bg-image-select {
    max-height: 70px; 
    width: auto;
}

.select-border {
    filter: drop-shadow(0 0 0.75rem rgb(62, 6, 17));
}

.bg-images-container .col > :hover {
    filter: drop-shadow(0 0px .4rem rgba(0, 0, 0, .7));

}

.modal-title {
    font-family: 'Gluten', cursive;
}

@media (min-width:992px) {
    .setting-modal {
        width: 50vw;
    }
    .date-container {
        width: 70%;
    }
    .quote-container {
        width: 70%;
    }
    .task-container {
        width: 60%;
    }
}


